@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&family=Tiro+Bangla&display=swap');

:root {
  --primary-color: #ff5c5c;
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: #fafafa;
  --on-background: #424242;
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --serif: 'Tiro Bangla', serif;
  --sans-serif: 'Oswald', sans-serif;
  --title-font: 'Permanent Marker', cursive;
}

[data-theme="dark"] {
  --primary-color: #9641ff;
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgb(255, 255, 255);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%231b9999' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: var(--serif)
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  margin: 0 25px;
  font-family: var(--title-font)
}

h2 {
  font-size: 32px;
  font-weight: normal;
  font-family: var(--sans-serif);
  color: var(--on-background-alt)
}

/* Navigation */
nav {
  /* z-index: 10; */
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 20px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.754);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */
.about-container {
  display: flex;
}

.image-container {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.image-container:last-child {
  margin-right: 0;
}

img {
  height: 300px;
  width: 300px;
}

/* Projects Section */

.buttons-container {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}


.outline:disabled {
  background-color: transparent
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

button:hover:disabled {
  filter: brightness(100%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.outline:hover:disabled {
  background: transparent;
  color: rgba(66, 66, 66);
}
/* .outline:hover:disabled {
  background: transparent;
  color: rgba(255, 255, 255, 0.9)
} */

.dark-outline:hover:disabled {
  color: #ffffffe6
}

.text-box {
  width: 50%;
  /* text-align: justify; */
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}

/* Contact Section */

.fa-brands {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fa-brands:last-child {
  margin-right: 0;
}

.fa-brands:hover {
  color: var(--on-background);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  right: 25px;
  top: 18px;
}

.theme-switch-wrapper #toggle-icon {
  margin-right: 10px;
  font-size: 1rem;
  /* border: 2px solid black; */
  display:flex;
  align-items: center;
}

.theme-switch-wrapper #toggle-icon span {
  /* border: 2px solid black; */
  padding-top: 4px;
  margin-right: 7px;
}

.toggle-text {
  position: relative;
  color: var(--on-background);
  font-size: 18px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

#theme-checkbox {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .theme-switch .slider {
  background: var(--primary-color);
}

input:checked + .theme-switch .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fa-solid {
  font-size: 30px;
  margin: 0 7px;
}

@media  screen and (max-width: 775px) {
    .toggle-text {
      display: none;
    }

    h1 {
      font-size: 70px;
    }
}

@media  screen and (max-width: 670px) {
  #toggle-icon i {
    display: none;
  }
}

@media  screen and (max-width: 615px) {
  ul {
    width: 70%;
  }

  .theme-switch {
    top: 18px;
  }
}
